@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  height: 80px;
  background: #21222a;
}
nav img {
  animation: App-logo-spin infinite 20s linear;
}
nav span {
  color: #deebf8;
  font-weight: 600;
  padding-right: 20px;
}

main {
  background: rgba(40, 45, 53, 1);
  padding: 30px;
  height: calc(100vh - 80px);
  box-sizing: border-box;
}
main h1 {
  color: #deebf8;
}
main ul {
  padding: 30px;
}
main ul li {
  color: #deebf8;
  font-size: 16px;
}
main ul li::marker {
  color: rgba(97, 218, 251, 1);
  font-size: 24px;
}
footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.4);
}
